/* ---[App]--- */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background-color: red; */
    background: #d9d6c7;
}

* {
    box-sizing: border-box;
}

/* ---[LoginPage.jsx]--- */
.Authen-Container {
    max-width: 450px;
    margin: 150px auto;
    padding: 40px 30px;
    background: #eceae2;
    border: 1px solid #e1d8ff;
    border-radius: 12px;
    box-shadow: 0 4px 10px #d0c08b;
    text-align: center;
}

.Authen-Container h2 {
    font-size: 36px;
    color: #a35858;
    margin-bottom: 10px;
}

.Authen-Description {
    font-size: 16px;
    /* font-weight: bold; */
    color: black;
    margin-bottom: 25px;
    line-height: 1.5;
}

.Authen-Input {
    width: 60%;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 1px solid #c5b8ff;
    border-radius: 6px;
    outline: none;
    transition: 0.2 ease-in-out;
}

.Authen-Input:focus {
    border-color: #d0c08b;
    box-shadow: 0 0 6px rgba(91, 61, 216, 0.3);
}

.Authen-Btn {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9b947c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.Authen-Btn:hover {
    background-color: #c1b280;
    transform: translateY(-2px);
}